:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: black;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

* {
  box-sizing: border-box
}

a {
  font-weight: 500;
  color: #090041;
  text-decoration: inherit;
}

a:hover {
  color: #4131ad;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #008cff;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  background-color: #0e6ab6;
}

button:focus,
button:focus-visible {
  outline: none;
}

.router-container {
  display: flex;
  gap: 2rem;
  height: 100vh;
}

nav {
  padding: 1rem;
  background-color: #e2e2e2;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.logo {
  width: 10rem;
  padding: 1rem;
}

p {
  font-size: 16px;
}

h2 {
  font-size: 1rem;
  font-weight: bold;;
}